@font-face {
  font-family: DM-Sans-Bold;
  src: url("../Fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

body {
  margin: 0;
  font-family: "DM-Sans-Bold";
}

/* --------------------------------------------------------------------------- */
/* ------------------------- STYLING FOR OS-ALGORITHMS ------------------------- */
/* --------------------------------------------------------------------------- */
#OA-heading {
  align-items: center;
  /* background-color: red; */
  position: relative;
  text-align: center;
  padding: 20px 0px;
}

#OA-whole {
  /* background-color: purple; */
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 40px 60px;
  justify-content: center;
}

#OA-whole-div-1 {
  /* background-color: aqua; */
  width: 100%;
}

#input-row {
  /* background-color: aliceblue; */
  margin-bottom: 14px;
}

#input-row-4th {
  margin-bottom: 34px;
}

#div-output-section {
  position: absolute;
  width: 80%;
  height: 15vh;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
  margin: 20px 20px 20px 0px;
  padding: 10px 100px;
  font-weight: 500;
  border-top: 2px solid #0b67f1;
}

#gantt-chart {
  background-color: red;
  width: 100%;
  height: 100%;
  margin: 100px 0px 100px 0px;
  border-bottom: 2px solid #0b67f157;
}
