@font-face {
  font-family: DM-Sans-Bold;
  src: url("../Fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

/* ------------------------- SCROLL BAR STYLING ------------------------- */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #0b67f1;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

body {
  margin: 0;
  font-family: "DM-Sans-Bold";
}

/* ------------------------- START - Navbar-styling -------------------------*/
.main-navbar {
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
  z-index: 100;
  /* border-bottom: 2px solid #0b67f1; */
  border-width: 2px; /* Set the border width */
  border-bottom-style: solid;
  border-image: linear-gradient(
    to right,
    #94b9f1,
    #ff0000,
    #0b67f1
  ); /* Gradient colors */
  border-image-slice: 1;
}

#navbar-menu-icon {
  width: 24px;
  height: 22px;
}

#div-search-icon {
  /* width: 20px;
    height: 20px; */
  background-size: cover;
  /* background-color: red; */
  border: none;
}

#search-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.logo {
  /* flex-grow: 1; */
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: red;
}
#logo {
  width: 150px;
  height: 150px;
  margin: -50px 10px -20px -220px;
  position: absolute;
  z-index: 99;
  transform: rotate(-2.5deg);
}

.menu-items {
  display: flex;
}

.menu-items a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.menu-items a:hover {
  background-color: #555;
}

/* ------------------------- END - Navbar-styling -------------------------*/

/* ------------------------- Common Headings -------------------------*/
#heading-1-black {
  color: #011627;
  font-size: 36px;
  font-weight: 600;
  text-shadow: rgb(0, 0, 0, 0.5);
}

#heading-2-black {
  color: #011627;
  font-size: 22px;
  font-weight: 400;
  text-decoration: underline;
}

#heading-3-black {
  color: #011627;
  font-size: 18px;
  font-weight: 400;
}

/* -------------------- SIDE MENUS ------------------------- */
#side-menu {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  padding: 40px 0px 0px 40px;
  border-radius: 20px;
  border: 2px solid #0b67f1;
  margin: 0px 0px 0px 40px;
  font-family: DM-Sans-Bold;
  font-weight: 600;
  font-size: 16px;
}

#side-menu-list {
  line-height: 40px;
}

/* ------------------------- FORMS - STYLING ------------------------- */
#solveButton {
  position: relative;
  width: 8rem;
  height: 3rem;
  border-radius: 22px;
  background-color: #0b67f1;
  border: 1px solid white;
  color: #f5f5f5;
}

#clearButton {
  position: relative;
  width: 7.75rem;
  height: 2.75rem;
  background-color: none;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  border-radius: 22px;
  border: 1px solid #f00212;
}

.input-box {
  width: 40rem;
  height: 3.5rem;
  border-radius: 22px;
  border: 1px solid #0b67f1;
  padding-left: 15px;
}

#divider-1 {
  width: 100%;
  height: 2px;
  border: 2px solid#0b67f1;
  margin: 20px 50px 20px 50px;
}

/* #divider-2{
  width: ;
} */

#output-rows{
  display: flex;
  justify-content: space-between;
}