/* ------------------------- START - Carousel ------------------------- */
.carousel-item {
  width: 100%;
  height: 110vh;
  /* background-image: url('../Images/cover-image-1.png'); */
  background-size: 100%;
  background-repeat: no-repeat;
}

#div-carousel-heading {
  /* background-color: red; */
  position: absolute;
  text-align: left;
  left: 50%;
  transform: translate(-85%, 110%);
}

#div-carousel-heading > h1 {
  font-family: DM-Sans-Bold;
  font-size: 70px;
  color: black;
}

#div-carousel-heading > h2 {
  font-size: 35px;
}

#div-carousel-heading > h3 {
  font-size: 20px;
}

/* ---------------------------------- */

/* ------------------------- Subjects/ Types ------------------------- */
#div-subjects {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  /* position: absolute;
  width: 80vw;
  height: 40vh; */
}
#div-heading-mathematics,
#div-heading-physics {
  /* position: relative; */
  width: auto;
}
#div-section-mathematics,
#div-section-physics {
  position: relative;
  width: 80vw;
  height: 50vh;
  /* background-color: red; */
  border-radius: 40px;
  border: 2px solid #0b67f1;
  padding: 20px;
  align-items: center;
}

#div-subjects-mathematics,
#div-subjects-physics {
  display: flex;
  justify-content: space-between;
}
#section-1 {
  width: 30vw;
  height: 30vh;
  /* background-color: #0b67f1; */
  margin: 0px 20px;
  border: 2px solid #0b67f1;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  align-items: center;
}
#section-2 {
  width: 30vw;
  height: 30vh;
  /* background-color: aqua; */
  margin: 0px 20px;
  border: 2px solid #0b67f1;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  align-items: center;
}
#section-3 {
  width: 30vw;
  height: 30vh;
  /* background-color: magenta; */
  margin: 0px 20px;
  border: 2px solid #0b67f1;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  align-items: center;
}
