/* ------------------------- START - Carousel ------------------------- */
.carousel-item {
  width: 100%;
  height: 110vh;
  /* background-image: url('../Images/cover-image-1.png'); */
  background-size: 100%;
  background-repeat: no-repeat;
}

#div-carousel-heading {
  /* background-color: red; */
  position: absolute;
  text-align: left;
  left: 50%;
  transform: translate(-85%, 110%);
}

#div-carousel-heading > h1 {
  font-family: DM-Sans-Bold;
  font-size: 70px;
  color: black;
}

#div-carousel-heading > h2 {
  font-size: 35px;
}

#div-carousel-heading > h3 {
  font-size: 20px;
}

/* ---------------------------------- */

/* ------------------------- Subjects/ Types ------------------------- */
#div-subjects {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}
#div-heading-mathematics,
#div-heading-physics,
#div-heading-programming,
#div-heading-algorithms {
  width: auto;
}
#div-section-mathematics {
  position: relative;
  width: 70vw;
  height: 40vh;
  z-index: 1;
  /* background-color: red; */
  background-image: url("../Images/section-maths-bg-2.png");
  overflow: hidden;
  border-radius: 40px;
  border: 2px solid #0b67f1;
  padding: 20px 40px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.24);
}

#div-subjects-mathematics,
#div-subjects-physics,
#div-subjects-programming,
#div-subjects-algorithms {
  display: flex;
  justify-content: space-between;
}

#section-1 {
  width: 20vw;
  height: 20vh;
  margin: 0px 20px;
  border-radius: 20px;
  text-align: center;
  padding: 3rem 1rem 0rem 1rem;
  align-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  text-decoration: none;
}
#section-2 {
  width: 20vw;
  height: 20vh;
  margin: 0px 20px;
  border-radius: 20px;
  text-align: center;
  padding: 3rem 1rem 0rem 1rem;
  align-items: center;
  backdrop-filter: blur(10px);
  text-decoration: none;
}
#section-3 {
  width: 20vw;
  height: 20vh;
  margin: 0px 20px;
  border-radius: 20px;
  text-align: center;
  padding: 3rem 1rem 0rem 1rem;
  align-items: center;
  backdrop-filter: blur(10px);
  text-decoration: none;
}

#div-subjects-mathematics > #section-1,
#div-subjects-mathematics > #section-2,
#div-subjects-mathematics > #section-3 {
  color: black;
  border: 2px solid #0b67f1;
}
/* PHYSICS */
#div-section-physics {
  position: relative;
  width: 70vw;
  height: 40vh;
  z-index: 1;
  /* background-color: red; */
  background-image: url("../Images/section-physics-bg.png");
  overflow: hidden;
  border-radius: 40px;
  border: 2px solid #f00212;
  padding: 20px 40px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.24);
}
#div-subjects-physics > #section-1,
#div-subjects-physics > #section-2,
#div-subjects-physics > #section-3 {
  color: black;
  border: 2px solid #f00212;
}

/* PROGRAMMING */
#div-section-programming {
  position: relative;
  width: 70vw;
  height: 40vh;
  z-index: 1;
  /* background-color: red; */
  background-image: url("../Images/section-programming-bg.png");
  overflow: hidden;
  border-radius: 40px;
  border: 2px solid #011627;
  padding: 20px 40px;
  color: white;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.24);
}

#div-subjects-programming > #section-1,
#div-subjects-programming > #section-2,
#div-subjects-programming > #section-3 {
  color: white;
  border: 2px solid white;
}

/* ALGORITHMS */
#div-section-algorithms {
  position: relative;
  width: 70vw;
  height: 40vh;
  z-index: 1;
  /* background-color: red; */
  background-image: url("../Images/section-algorithms-bg.png");
  overflow: hidden;
  border-radius: 40px;
  border: 2px solid #b00293;
  padding: 20px 40px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.24);
}

#div-subjects-algorithms > #section-1,
#div-subjects-algorithms > #section-2,
#div-subjects-algorithms > #section-3 {
  color: black;
  border: 2px solid #b00293;
}
