@font-face {
  font-family: DM-Sans-Bold;
  src: url("../Fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

body {
  margin: 0;
  font-family: "DM-Sans-Bold";
  background: url("../Images/section-maths-bg-2.png") no-repeat center center
    fixed;
  background-size: cover;
}

/* --------------------------------------------------------------------------- */
/* ------------------------- STYLING FOR PRE-ALGEBRA ------------------------- */
/* --------------------------------------------------------------------------- */
#PA-heading {
  align-items: center;
  /* background-color: red; */
  position: relative;
  text-align: center;
  padding: 20px 0px;
}

#PA-whole {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#PA-whole-div-1 {
  /* background-color: red; */
  width: 20vw;
  height: 50vh;
}
#PA-whole-div-2 {
  position: relative;
  width: 80vw;
  height: 50vh;
  /* background-color: aqua; */
  padding: 40px 0px 0px 40px;
  margin: 0px 80px 0px 20px;
  text-align: center;
  align-items: center;
}
#PA-whole-div-3 {
  /* position: relative; */
  width: 80vw;
  height: 50vh;
  /* background-color: aqua; */
  padding: 40px 0px 0px 40px;
  margin: 0px 80px 0px 20px;
  text-align: center;
  align-items: center;
}

#div-input-section {
  /* background-color: red; */
  padding: 40px 0px;
  align-items: center;
  text-align: center;
}


#div-output-section {
  position: relative;
  width: 80%;
  height: 15vh;
  /* background-color: red; */
  margin: 20px 20px 0px 105px;
  padding: 10px 100px;
  font-weight: 500;
  border-top: 2px solid #0b67f1;
}
