body {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  overflow-x:hidden;
  }

h1 {
    color: #0dcaf0;
    }



::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb {
    background-color: #0dcaf0;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

