{% extends 'base.html' %}
{% block body %}
<div class="container scrollspy-example-2" data-bs-spy="scroll" data-bs-target="#navbar-example3"
     data-bs-smooth-scroll="true"
     tabindex="0">
    <br>
    <h1 align="center">Algebra</h1>
    <p class="lead" align="center">
        This section provides Polynomial, The Greatest Common Divisor, Factorial calculations.
    </p>
    <br>
    <div>
        <h2 id="polynomial_ops">Polynomial Calculations.</h2>

        <form action="algebra" method="post">{% csrf_token %}
            <div class="m-5">
                <div class="row grid row-gap-4 m-5" align="center">

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <button type="button" style="width:8rem" class="btn btn-block btn-primary spc_btn"
                                onclick="insertTextInInputValue('⁴');">
                            x<sup>4</sup>
                        </button>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <button type="button" style="width:8rem" class="btn btn-block btn-primary spc_btn"
                                onclick="insertTextInInputValue('³');">
                            x<sup>3</sup>
                        </button>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <button type="button" style="width:8rem" class="btn btn-block btn-primary spc_btn"
                                onclick="insertTextInInputValue('²');">
                            x<sup>2</sup>
                        </button>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <button onclick="clearInput(event)" style="width:8rem" class="btn btn-block btn-danger spc_btn">
                            AC
                        </button>
                    </div>

                </div>
                <div class="row mb-3">
                <textarea onfocus="focussed(1)" type="text" name="Polynomial1" id="polynomial1" rows="3" cols="6"
                          class="form-control" placeholder="Enter first equation...(ax²+bx+c)"></textarea>
                </div>

                <div>
                    <script type="text/javascript">
                $(document).ready(()=>{
                    $("#select").val('2');
                });



                    </script>
                    <div align="center">
                        <select id="operator_poly" name="Operator_Poly" class="btn btn-primary "
                                data-bs-toggle="dropdown">
                            <option value="0"> +</option>
                            <option value="1"> -</option>
                            <option value="2"> x</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 my-3">
                <textarea onfocus="focussed(2)" type="text" name="Polynomial2" id="polynomial2" rows="3" cols="6"
                          class="form-control" placeholder="Enter second equation...(ax²+bx+c)"></textarea>
                </div>

            </div>
            <div class="row" align="center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 my-3" align="center">
                    <p class="fs-4">Your answer is {{result_count}}</p>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 my-3" align="right">
                    <button type="submit" class="btn btn-dark mx-5" style="width:6rem">Calculate</button>
                </div>

            </div>
        </form>

        <script type="text/javascript">
  // var theTotal = 0;
  // $('#1').click(function(){
  // $('#result').val(1);
  // });
  function clearInput(event){
  event.preventDefault();
        var inputField = document.activeElement;
  if (inputField.tagName == "INPUT") {
    inputField.value = "";
    }

}
  function operator(op){
        op = String(op)
        var op_btn = document.getElementById("operator_poly");
        $("#operator_poly").val('op').change();
  }

  var res = 0
  function focussed(x)
  //Function to select one textarea and update the button values in that area only.
  {
    if (x=='1'){
        res = document.getElementById("polynomial1")}
    else if (x=='2'){
        res = document.getElementById("polynomial2")}

    return res

  }
  function insertTextInInputValue(buttonValueIs){
              var inputElementIs = res;
              inputElementIs.value =  inputElementIs.value + buttonValueIs;
              res = 0;
              inputElementIs  = 0;
              $('#res').val(inputElementIs.value);
        }



// $('#tussenstand').val("Total: "+theTotal);


        </script>
        <!--Button for offcanvas menu -->

    </div>
</div>
{% endblock body %}

</body>
</html>