{% extends 'base.html' %} {% block body %}

<!-- Alerts
<div class="alert alert-warning alert-dismissible fade show my-auto" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->
<script src="../static/Scripts/index.js"></script>
<link rel="stylesheet" href="../static/Stylesheets/index.css" />

<!-- ------------------------- START - Carousel ------------------------- -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="div-carousel-heading">
        <h1>THE SMART SOLVER</h1>
        <h2>Your Ultimate Math Companion.</h2>
        <h3>
          Positioning Smart Solver as a revolutionary tool that redefines the
          way users approach mathematical challenges.
        </h3>
      </div>
      <img
        src="/static/Images/cover-image-2.png"
        width="1150"
        height="775"
        class="d-block w-100"
        alt="a"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        width="1400"
        height="650"
        class="d-block w-100"
        alt="b"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        width="1400"
        height="650"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Quote of the Day -->
<!-- <div class="slideshow-container">
  <div class="mySlides fade">
    <blockquote>
      <p>Life is what happens when you're busy making other plans.</p>
      <footer>- John Lennon</footer>
    </blockquote>
  </div>

  <div class="mySlides fade">
    <blockquote>
      <p>The only way to do great work is to love what you do.</p>
      <footer>- Steve Jobs</footer>
    </blockquote>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div> -->

<!--Main welcome heading-->
<div class="container">
  <br />
  <h1 class="display-2" align="center">
    <strong>Welcome to Smart Solver</strong>
  </h1>
  <p class="lead" align="center">We make your calculations alot easier.</p>
  <br />
</div>

<!-- Section for Mathematics -->
<div id="div-subjects">
  <div id="div-section-mathematics">
    <div id="div-heading-mathematics">
      <h2>Mathematics</h2>
      <p>Find all calculations related to mathematics in this section.</p>
    </div>
    <div id="div-subjects-mathematics">
      <a href="/pre-algebra" id="section-1"><h4>Pre-Algebra</h4></a>
      <a href="/algebra" id="section-2"><h4>Algebra</h4></a>
      <a href="#" id="section-3"><h4>Coming Soon..</h4></a>
    </div>
  </div>
</div>

<!-- Section for Physics -->
<div id="div-subjects">
  <div id="div-section-physics">
    <div id="div-heading-physics">
      <h2>Physics</h2>
      <p>Find all calculations related to physics in this section.</p>
    </div>
    <div id="div-subjects-physics">
      <a href="/physical-value-converter" id="section-1"
        ><h4>Value Conversions</h4></a
      >
      <a href="/physical-calculation" id="section-2"
        ><h4>Physical Quantities</h4></a
      >
      <a href="#" id="section-3"><h4>Coming Soon...</h4></a>
    </div>
  </div>
</div>

<!-- Section for programming -->
<div id="div-subjects">
  <div id="div-section-programming">
    <div id="div-heading-programming">
      <h2>Programming</h2>
      <p>Find all calculations related to programming in this section.</p>
    </div>
    <div id="div-subjects-programming">
      <a href="/sorting" id="section-1"><h4>Sorting Algorithms</h4></a>
      <a href="/binary" id="section-2"><h4>Binary Calculator</h4></a>
      <a href="#" id="section-3"><h4>Coming Soon...</h4></a>
    </div>
  </div>
</div>

<!-- Section for algorithms -->
<div id="div-subjects">
  <div id="div-section-algorithms">
    <div id="div-heading-algorithms">
      <h2>Algorithms</h2>
      <p>Find all calculations related to algorithms in this section.</p>
    </div>
    <div id="div-subjects-algorithms">
      <a href="/operating-system-algorithms" id="section-1"
        ><h4>Operating Systems Algorithms</h4></a
      >
      <a href="#" id="section-2"><h4>Coming Soon...</h4></a>
      <a href="#" id="section-3"><h4>Coming Soon...</h4></a>
    </div>
  </div>
</div>

{% endblock body %}
