{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="../static/Stylesheets/algorithms.css" />
<script src="../static/Scripts/algorithms.js"></script>
<div id="OA-heading">
  <h1 id="heading-1-black">OS Algorithms Simulation</h1>
  <!-- <h2 id="heading-2-black">Mean, Median, Mode</h2> -->
</div>

<div id="OA-whole">
  <!-- DIV FOR INPUTS -->
  <div id="OA-whole-div-1">
    <form id="algorithm-form" method="POST">
      {% csrf_token %}
      <div id="input-row">
        <label id="heading-3-black">Algorithm Name</label><br />
        <select
          id="algos-dropdown"
          data-bs-toggle="dropdown"
          name="algos-dropdown"
          class="dropdown"
          onchange="toggleBox()"
        >
          <!-- Dropdown options -->
          <option value="FCFS">First Come, First Serve (FCFS)</option>

          <option value="SJF">Shortest Job First (SJF) - Preemptive</option>
          <option value="SJF-nonpr">
            Shortest Job First (SJF) - Non-Preemptive
          </option>
          <option value="RR">Round Robin (RR)</option>
          <option value="Priority">
            Priority Job First (Priority) - Preemptive
          </option>
          <option value="Priority-nonpr">
            Priority Job First (Priority) - Non-Preemptive
          </option>
        </select>
      </div>
      <div id="input-row">
        <label id="heading-3-black" for="arrival-time">Arrival Time:</label
        ><br />
        <input
          class="input-box-2"
          id="arrival-time"
          name="arrival-time"
          required
        />
      </div>

      <div id="input-row">
        <label id="heading-3-black" for="burst-time">Burst Time:</label><br />
        <input class="input-box-2" id="burst-time" name="burst-time" required />
      </div>
      <div id="input-row-4th" class="hidden">
        <label id="heading-3-black" name="label-dynamic-ib" for="burst-time"
          >Changeable Heading</label
        ><br />
        <input
          class="input-box-2"
          id="dynamic-input-box"
          name="dynamic-input-box"
        />
      </div>

      <!-- DIV FOR BUTTONS -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img
            src="../static/Images/delete-icon.png"
            alt=""
            style="height: 30px; width: 30px"
          />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>
  </div>

  <!-- Output section -->
  <div id="div-output-section">
    <div id="gantt-chart">
      
      {% autoescape off %} {{ chartdiv }} {% endautoescape %}
    </div>
    <div id="output-rows">
      <label for="output">Execution State</label>
      <p id="res-mean">{{execution_state}}</p>
      <br />
    </div>
  </div>
</div>

{% endblock body %}
