{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="../static/Stylesheets/algorithms.css" />
<script src="../static/Scripts/algorithms.js"></script>
<div id="OA-heading">
  <h1 id="heading-1-black">OS Algorithms Simulation</h1>
  <!-- <h2 id="heading-2-black">Mean, Median, Mode</h2> -->
</div>

<div id="OA-whole">
  <!-- DIV FOR INPUTS -->
  <div id="OA-whole-div-1">
    <form id="algorithm-form">
      <div id="input-row">
        <label id="heading-3-black">Algorithm Name</label><br />
        <select id="algos-dropdown" class="dropdown" onchange="toggleBox()">
          <!-- Dropdown options -->
          <option value="FCFS">First Come, First Serve (FCFS)</option>

          <option value="SJF">Shortest Job First (SJF) - Preemptive</option>
          <option value="SJF-nonpr">
            Shortest Job First (SJF) - Non-Preemptive
          </option>
          <option value="RR">Round Robin (RR)</option>
          <option value="Priority">
            Priority Job First (Priority) - Preemptive
          </option>
          <option value="Priority-nonpr">
            Priority Job First (Priority) - Non-Preemptive
          </option>
        </select>
      </div>
      <div id="input-row">
        <label id="heading-3-black" for="arrival-time">Arrival Time:</label
        ><br />
        <input
          type="number"
          class="input-box-2"
          id="arrival-time"
          name="arrival-time"
          required
        />
      </div>

      <div id="input-row">
        <label id="heading-3-black" for="burst-time">Burst Time:</label><br />
        <input
          type="number"
          class="input-box-2"
          id="burst-time"
          name="burst-time"
          required
        />
      </div>
      <div id="input-row-4th">
        <label id="heading-3-black" for="burst-time">Changeable Heading</label
        ><br />
        <input
          type="number"
          class="input-box-2"
          id="dynamic-input-box"
          name="dynamic-input-box"
        />
      </div>

      <!-- DIV FOR BUTTONS -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img
            src="../static/Images/delete-icon.png"
            alt=""
            style="height: 30px; width: 30px"
          />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>
  </div>
</div>

<!-- <div id="output-section">
  <h2>OUTPUT:</h2>
</div> -->

{% endblock body %}
