{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="../static/Stylesheets/physics.css" />
<script src="../static/Scripts/physics.js" defer></script>

<title>Physical Units Conversion</title>

<div id="PC-heading">
  <h1 id="heading-1-black">Physical Units Conversion</h1>
  <h2 id="heading-2-black">Acceleration, Frequency, Velocity & more...</h2>
</div>

<!-- MAKING A WHOLE DIV FOR SIDE MENU + CALCULATIONS MENU -->
<div id="PC-whole">
  <!-- DIV FOR SIDE MENU -->
  <div id="PC-whole-div-1">
    <div id="side-menu">
      <h4 id="heading-2-black">Related Topics</h4>
      <ul id="side-menu-list">
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-2')">
            Length
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-3')">
            Mass
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-4')">
            Time
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-5')">
            Temperature
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-6')">
            Power
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- DIV FOR LENGTH -->
  <div id="PC-whole-div-2">
    <!-- Input section -->
    <form method="post" action="physical-value-converter">
      {% csrf_token %}
      <div id="div-input-section">
        <input class="input-box" type="text" pattern="[0-9,]*" id="input-length" name="input-length"
          placeholder="Enter your input for Length" required />
        <select name="dropdown-units-length-from" id="dropdown-units-length-from" class="dropdownunit">
          <option value="meters">Meters (m)</option>
          <option value="kilometers">Kilometers (km)</option>
          <option value="centimeters">Centimeters (cm)</option>
          <option value="millimeters">Millimeters (mm)</option>
          <option value="inches">Inches (in)</option>
          <option value="feet">Feet (ft)</option>
        </select>
        <br /><br />
        <label for=""><b>Convert To<b></label>
        <select name="dropdown-units-length-to" id="dropdown-units-length-to">
          <option value="meters">Meters (m)</option>
          <option value="kilometers">Kilometers (km)</option>
          <option value="centimeters">Centimeters (cm)</option>
          <option value="millimeters">Millimeters (mm)</option>
          <option value="inches">Inches (in)</option>
          <option value="feet">Feet (ft)</option>
        </select>
      </div>
      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-length')">
          <img src="../static/Images/delete-icon.png" alt="" style="height: 32px; width: 32px" />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Length = {{conv_length}} {{dd_length_to}}</label>
      </div>
    </div>
  </div>

  <!-- DIV FOR MASS -->
  <div id="PC-whole-div-3">
    <!-- Input section -->
    <form method="post" action="physical-value-converter">
      {% csrf_token %}
      <div id="div-input-section">
        <input class="input-box" type="text" pattern="[0-9,]*" defa id="input-mass" name="input-mass"
          placeholder="Enter your input for Mass" required />
        <select name="dropdown-units-mass-from" id="dropdown-units-mass-from" class="dropdownunit">
          <option value="kilograms">Kilograms (kg)</option>
          <option value="grams">Grams (g)</option>
          <option value="milligrams">Milligrams (mg)</option>
          <option value="pounds">Pounds (lb)</option>
          <option value="ounces">Ounces (oz)</option>
        </select>
        <br /><br />
        <label for=""><b>Convert To<b></label>
        <select name="dropdown-units-mass-to" id="dropdown-units-mass-to">
          <option value="kilograms">Kilograms (kg)</option>
          <option value="grams">Grams (g)</option>
          <option value="milligrams">Milligrams (mg)</option>
          <option value="pounds">Pounds (lb)</option>
          <option value="ounces">Ounces (oz)</option>
        </select>
      </div>
      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-lgcmf')">
          <img src="../static/Images/delete-icon.png" alt="" style="height: 32px; width: 32px" />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Mass = {{conv_mass}} {{dd_mass_to}}</label>
      </div>
    </div>
  </div>

  <!-- DIV FOR TIME -->
  <div id="PC-whole-div-4">
    <!-- Input section -->
    <form method="post" action="physical-value-converter">
      {% csrf_token %}
      <div id="div-input-section">
        <input class="input-box" type="text" pattern="[0-9,]*" id="input-time" name="input-time"
          placeholder="Enter your input for Time" required />
        <select name="dropdown-units-time-from" id="dropdown-units-time-from" class="dropdownunit">
          <option value="seconds">Seconds (s)</option>
          <option value="minutes">Minutes (min)</option>
          <option value="hours">Hours (hr)</option>
          <option value="days">Days (days)</option>
          <!-- Add more time units as needed -->
        </select>
        <br /><br />
        <label for=""><b>Convert To<b></label>
        <select name="dropdown-units-time-to" id="dropdown-units-time-to">
          <option value="seconds">Seconds (s)</option>
          <option value="minutes">Minutes (min)</option>
          <option value="hours">Hours (hr)</option>
          <option value="days">Days (days)</option>
          <!-- Add more time units as needed -->
        </select>
      </div>

      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img src="../static/Images/delete-icon.png" alt="" style="height: 32px; width: 32px" />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Time = {{conv_time}} {{dd_time_to}}</label>
      </div>
    </div>
  </div>

  <!-- DIV FOR TEMPERATURE -->
  <div id="PC-whole-div-5">
    <!-- Input section -->
    <form method="post" action="physical-value-converter">
      {% csrf_token %}
      <div id="div-input-section">
        <input class="input-box" type="text" pattern="[0-9,]*" id="input-temperature" name="input-temperature"
          placeholder="Enter your input for Temperature" required />
        <select name="dropdown-units-temperature-from" id="dropdown-units-temperature-from" class="dropdownunit">
          <option value="celsius">Celsius (°C)</option>
          <option value="fahrenheit">Fahrenheit (°F)</option>
          <option value="kelvin">Kelvin (K)</option>
          <!-- Add more temperature units as needed -->
        </select>
        <br /><br />
        <label for=""><b>Convert To<b></label>
        <select name="dropdown-units-temperature-to" id="dropdown-units-temperature-to">
          <option value="celsius">Celsius (°C)</option>
          <option value="fahrenheit">Fahrenheit (°F)</option>
          <option value="kelvin">Kelvin (K)</option>
          <!-- Add more temperature units as needed -->
        </select>
      </div>
      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img src="../static/Images/delete-icon.png" alt="" style="height: 32px; width: 32px" />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Temperature = {{conv_temperature}} {{dd_temperature_to}}</label>
        <!-- <p id="res-mean">Pressure = {{pressure}} {{siu_pressure}}</p> -->
      </div>
    </div>
  </div>

  <!-- DIV FOR POWER -->
  <div id="PC-whole-div-6">
    <!-- Input section -->
    <form method="post" action="physical-value-converter">
      {% csrf_token %}
      <div id="div-input-section">
        <input class="input-box" type="text" pattern="[0-9,]*" id="input-power" name="input-power"
          placeholder="Enter your input for Power" required />
        <select name="dropdown-units-power-from" id="dropdown-units-power-from" class="dropdownunit">
          <option value="watts">Watts (W)</option>
          <option value="kilowatts">Kilowatts (kW)</option>
          <option value="megawatts">Megawatts (MW)</option>
          <option value="horsepower">Horsepower (hp)</option>
          <!-- Add more power units as needed -->
        </select>
        <br /><br />
        <label for=""><b><b>Convert To<b><b></label>
        <select name="dropdown-units-power-to" id="dropdown-units-power-to">
          <option value="watts">Watts (W)</option>
          <option value="kilowatts">Kilowatts (kW)</option>
          <option value="megawatts">Megawatts (MW)</option>
          <option value="horsepower">Horsepower (hp)</option>
          <!-- Add more power units as needed -->
        </select>
      </div>
      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img src="../static/Images/delete-icon.png" alt="" style="height: 32px; width: 32px" />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <p id="res-mean">Power = {{conv_power}} {{dd_power_to}}</p>
        <p></p>
      </div>
    </div>
  </div>
</div>

{% endblock body %}