{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="../static/Stylesheets/physics.css" />
<script src="../static/Scripts/physics.js" defer></script>

<title>Physics Calculations</title>

<div id="PC-heading">
  <h1 id="heading-1-black">Physical Formulae</h1>
  <h2 id="heading-2-black">Acceleration, Frequency, Velocity & more...</h2>
</div>

<!-- MAKING A WHOLE DIV FOR SIDE MENU + CALCULATIONS MENU -->
<div id="PC-whole">
  <!-- DIV FOR SIDE MENU -->
  <div id="PC-whole-div-1">
    <div id="side-menu">
      <h4 id="heading-2-black">Related Topics</h4>
      <ul id="side-menu-list">
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-2')">
            Velocity
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-3')">
            Acceleration
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-4')">
            Frequency
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-5')">
            Pressure
          </button>
        </li>
        <li>
          <button id="side-menu-button" onclick="showSection('PC-whole-div-6')">
            Force
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- DIV FOR VELOCITY -->
  <div id="PC-whole-div-2">
    <!-- Input section -->
    <form method="post" action="physical-calculation">
      {% csrf_token %}
      <input
        class="input-box"
        type="text"
        pattern="[0-9,]*"
        defa
        id="input-distance"
        name="input-distance"
        placeholder="Enter your input for Distance"
        required
      />
      <select name="dropdown-units-distance" id="dropdown-units-distance">
        <!-- Dropdown options -->
        <option value="meters">meters (m)</option>
        <option value="kilometers">kilometers (km)</option>
        <option value="feet">feet (ft)</option>
      </select>
      <br /><br />
      <input
        class="input-box"
        type="text"
        pattern="[0-9,]*"
        defa
        id="input-time"
        name="input-time"
        placeholder="Enter your input for Time"
        required
      />
      <select name="dropdown-units-time" id="dropdown-units-time">
        <!-- Dropdown options -->
        <option value="seconds">seconds (s)</option>
        <option value="hours">hours (h)</option>
      </select>
      <br /><br />
      <!-- Buttons -->
      <div id="div-buttons">
        <button
          id="clearButton"
          onclick="clearInput('input-distance');clearInput('input-time')"
        >
          <img
            src="../static/Images/delete-icon.png"
            alt=""
            style="height: 32px; width: 32px"
          />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Velocity = {{velocity}}{{siu_velocity}}</label>
      </div>
    </div>
  </div>

  <!-- DIV FOR ACCELERATION -->
  <div id="PC-whole-div-3">
    <!-- Input section -->
    <form method="post" action="physical-calculation">
      {% csrf_token %}
      <div id="div-input-section">
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          defa
          id="input-final-velocity"
          name="input-final-velocity"
          placeholder="Enter your input for Initial Velocity"
          required
        />
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          defa
          id="input-initial-velocity"
          name="input-initial-velocity"
          placeholder="Enter your input for Final Velocity"
          required
        />
        <select name="dropdown-units-final-vel" id="dropdown-units-final-vel">
          <option value="meter-per-second">Meters per second (m/s)</option>
          <option value="kilometer-per-hour">Kilometers per hour (km/h)</option>
          <option value="feet-per-second">Feet per second (ft/s)</option>
        </select>
        <br /><br />
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          defa
          id="input-time-acc"
          name="input-time-acc"
          placeholder="Enter your input for Time"
          required
        />
        <select name="dropdown-units-time" id="dropdown-units-time">
          <!-- Dropdown options -->
          <option value="seconds">seconds (s)</option>
          <option value="hours">hours (h)</option>
        </select>
        <br /><br />
      </div>
      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-lgcmf')">
          <img
            src="../static/Images/delete-icon.png"
            alt=""
            style="height: 32px; width: 32px"
          />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output"
          >Acceleration = {{acceleration}} {{siu_acceleration}}</label
        >
      </div>
    </div>
  </div>

  <!-- DIV FOR FREQUENCY -->
  <div id="PC-whole-div-4">
    <!-- Input section -->
    <form method="post" action="physical-calculation">
      {% csrf_token %}
      <div id="div-input-section">
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          id="input-time-freq"
          name="input-time-freq"
          placeholder="Enter your input for Time (e.g. 1,2,3...)"
          required
        /><select name="dropdown-units-time" id="dropdown-units-time">
          <!-- Dropdown options -->
          <option value="seconds">seconds (s)</option>
          <option value="minutes">minutes (h)</option>
          <option value="hours">hours (h)</option>
        </select>
      </div>

      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img
            src="../static/Images/delete-icon.png"
            alt=""
            style="height: 32px; width: 32px"
          />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Frequency = {{frequency}} {{siu_freq}}</label>
      </div>
    </div>
  </div>

  <!-- DIV FOR PRESSURE -->
  <div id="PC-whole-div-5">
    <!-- Input section -->
    <form method="post" action="physical-calculation">
      {% csrf_token %}
      <div id="div-input-section">
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          id="input-force"
          name="input-force"
          placeholder="Enter your input for Force (e.g. 1,2,3...)"
          required
        />
        <select name="dropdown-units-force" id="dropdown-units-force">
          <!-- Dropdown options -->
          <option value="newton">newton (N)</option>
        </select>
        <br /><br />
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          id="input-area"
          name="input-area"
          placeholder="Enter your input for Area"
          required
        /><select name="dropdown-units-force" id="dropdown-units-force">
          <!-- Dropdown options -->
          <option value="square-meter">square meter (m²)</option>
        </select>
      </div>
      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img
            src="../static/Images/delete-icon.png"
            alt=""
            style="height: 32px; width: 32px"
          />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Pressure</label>
        <p id="res-mean">{{mean}}</p>
      </div>
    </div>
  </div>

  <!-- DIV FOR FORCE -->
  <div id="PC-whole-div-6">
    <!-- Input section -->
    <form method="post" action="physical-calculation">
      {% csrf_token %}
      <div id="div-input-section">
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          id="input-mass"
          name="input-mass"
          placeholder="Enter your input for mass (e.g. 1,2,3...)"
          required
        />
        <select name="dropdown-units-mass" id="dropdown-units-mass">
          <!-- Dropdown options -->
          <option value="gram">grams (g)</option>
          <option value="kilogram">kilograms (kg)</option>
          <option value="miligram">miligrams (mg)</option>
        </select>
        <br /><br />
        <input
          class="input-box"
          type="text"
          pattern="[0-9,]*"
          id="input-acceleration"
          name="input-acceleration"
          placeholder="Enter your input for Acceleration (e.g. 1,2,3...)"
          required
        />
        <select
          name="dropdown-units-acceleration"
          id="dropdown-units-acceleration"
        >
          <!-- Dropdown options -->
          <option value="meter-per-secondsq">
            meters per second squared (m/s²)
          </option>
          <option value="meter-per-second">meters per second (m/s)</option>
        </select>
      </div>
      <!-- Buttons -->
      <div id="div-buttons">
        <button id="clearButton" onclick="clearInput('input-mmm')">
          <img
            src="../static/Images/delete-icon.png"
            alt=""
            style="height: 32px; width: 32px"
          />
        </button>
        <button id="solveButton" onclick="showOnInput()">Solve</button>
      </div>
    </form>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Force</label>
        <p id="res-mean">{{mean}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
<!-- IDS USED IN THE ABOVE TEMPLATE -->
<!--
  Velocity Section (PC-whole-div-2):
  Input:
    - Distance: input-distance
      Units (Dropdown): dropdown-units-distance
        - Meters (m)
        - Kilometers (km)
        - Feet (ft)

    - Time: input-time
      Units (Dropdown): dropdown-units-time
        - Seconds (s)
        - Hours (h)

  Buttons:
    - Clear Button: clearButton
    - Solve Button: solveButton

  Output:
    - Velocity: res-mean
-->
<!--
  Acceleration Section (PC-whole-div-3):
  Input:
    - Initial Velocity: input-initial-velocity
    - Final Velocity: input-final-velocity
      Units (Dropdown): dropdown-units-final-vel
        - Meters per second (m/s)
        - Kilometers per hour (km/h)
        - Feet per second (ft/s)
    - Time: input-time
      Units (Dropdown): dropdown-units-time
        - Seconds (s)
        - Hours (h)
  Buttons:
    - Clear Button: clearButton
    - Solve Button: solveButton
  Output:
    - Acceleration: res-mean
-->

<!--
  Frequency Section (PC-whole-div-4):
  Input:
    - Time: input-time
      Units (Dropdown): dropdown-units-time
        - Seconds (s)
        - Hours (h)
  Buttons:
    - Clear Button: clearButton
    - Solve Button: solveButton
  Output:
    - Frequency: res-mean
-->

<!--
  Pressure Section (PC-whole-div-5):
  Input:
    - Force: input-force
      Units (Dropdown): dropdown-units-force
        - Newton (N)
    - Area: input-area
      Units (Dropdown): dropdown-units-force
        - Square meter (m²)
  Buttons:
    - Clear Button: clearButton
    - Solve Button: solveButton
  Output:
    - Pressure: res-mean
-->

<!--
  Force Section (PC-whole-div-6):
  Input:
    - Mass: input-mass
      Units (Dropdown): dropdown-units-mass
        - Grams (g)
        - Kilograms (kg)
        - Milligrams (mg)
    - Acceleration: input-acceleration
      Units (Dropdown): dropdown-units-acceleration
        - Meters per second squared (m/s²)
        - Meters per second (m/s)
  Buttons:
    - Clear Button: clearButton
    - Solve Button: solveButton
  Output:
    - Force: res-mean
-->
