{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="../static/Stylesheets/mathematics.css" />
<script src="../static/Scripts/mathematics.js" defer></script>


<title>Pre-Algebra CLCC</title>

<div id="PA-heading">
  <h1 id="heading-1-black">Pre-Algebra Calculator</h1>
  <h2 id="heading-2-black">Mean, Median, Mode</h2>
</div>

<!-- MAKING A WHOLE DIV FOR SIDE MENU + CALCULATIONS MENU -->
<div id="PA-whole">
  <div id="PA-whole-div-1">
    <div id="side-menu">
      <h4 id="heading-2-black">Related Topics</h4>
      <ul id="side-menu-list">
        <li>Mean</li>
        <li>Median</li>
        <li>Mode</li>
        <li>LCM</li>
        <li>GCF</li>
      </ul>
    </div>
  </div>

  <div id="PA-whole-div-2">
    <!-- Input section -->
    <div id="div-input-section">
      <!-- <label id="heading-3-black" for="input" style="margin-right:20px ;">Enter Input:</label> -->
      <input
        class="input-box"
        type="text"
        id="input-mmm"
        placeholder="Enter your input (e.g. 1,2,3...)"
      />
    </div>
    <!-- Buttons -->
    <div id="div-buttons">
      <button id="clearButton" onclick="clearInput('input-mmm')">
        <img
          src="../static/Images/delete-icon.png"
          alt=""
          style="height: 32px; width: 32px"
        />
      </button>
      <button id="solveButton">Solve</button>
    </div>

    <!-- Output section -->
    <div id="div-output-section">
      <div id="output-rows">
        <label for="output">Mean</label>
        <p id="res-mean">{mean}</p>
      </div>
      <div id="output-rows">
        <label for="output">Median</label>
        <p id="res-median">{median}</p>
      </div>
      <div id="output-rows">
        <label for="output">Mode</label>
        <p id="res-mode">{mode}</p>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  function clearInput(event) {
  event.preventDefault();
  var inputField = document.activeElement;
  if (inputField.tagName == "INPUT") {
    inputField.value = "";
  }
}

</script> -->
{% endblock body %}
